*.md	text	diff=markdown
*.png	binary	diff=png	-filter
*.ps1	text	diff=powershell
*.rs	text	diff=rust	filter=rustfmt
*.yml	text	diff=yaml
*.toml	text	diff=toml
Cargo.lock	text	diff=toml
rustfmt.toml	filter=sort
